[user]
  email = wonderfulfrog@users.noreply.github.com
  name = Devin Haska
[core]
  editor = nvim
  excludesfile = /Users/devin/.gitignore
[init]
  defaultBranch = main
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
